body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #081420 ;
        }

        .navbar {
            background-color: #c0cee1; 
            padding: 10px 20px; 
            display: flex;
            align-items: center; 
            justify-content: space-between; 
            /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  */
        }

        .navbar .left-section {
            display: flex; 
            align-items: center;
        }

        .user-image {
            width: 40px;
            height: 40px;
            border-radius: 50%; 
             margin-right:350px; 
            /* vertical-align: middle; */
        }
 
        .navbar ul {
            list-style: none; 
            padding: 0;
            margin: 0;
            display: flex; 
        }

        .navbar ul li {
            margin-right: 20px; 
        }

        .navbar ul li:last-child {
            margin-right: 0; 
        }

        .navbar ul li a {
            color: #03080e; 
            text-decoration: none; 
            padding: 5px 0; 
            transition: color 0.3s ease; 
        }

        .navbar ul li a:hover {
            color:#060f18 ; 
        }

        
        .navbar ul li .nested-ul {
            display: flex; 
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .navbar ul li .nested-ul li {
            margin-right: 20px; 
        }

        .navbar ul li .nested-ul li:last-child {
            margin-right: 0;
        }

        .navbar ul li .nested-ul li a {
            font-size: 0.9em; 
        }

        .search-container {
            display: flex;
            align-items: center;
        }

        .search-container input[type="text"] {
            padding: 8px 12px;
            border: none;
            border-radius: 20px; 
            background-color: #0d1521 ; 
            color: #fff; 
            margin-right: 8px;
            width: 150px; 
        }

        .search-container input[type="text"]::placeholder {
            color: rgba(255, 255, 255, 0.7); 
        }

        .search-label {
            color: #ecf0f1;
            font-size: 0.9em;
        }
.content{
padding-left: 520px;
padding-top: 85px;
   font-family: Arial, sans-serif;
color: #c0cee1;

}
 
.fairy ::before{content:✨ ;}








