.data-divs {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: pink;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}