#btn{
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #b1ebb3;
    color: black;
    border: none;
    border-radius: 5px;
}
#btn:hover {
    background-color: #61f27a;
}
#output {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}