body{
    margin-top: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(4501670-leon-tukker-science-fiction-digital-art-artwork-futuristic-concept-art-3d-design.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position:center;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(2px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(0 ,0 ,0 ,1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
}
h1{
    color: rgb(97, 97, 218);
    text-align: center;
    margin: 0;
    font-size: 30px;
}
input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(2px);
}
input[type="submit"]{
    background-color: rgb(97, 97, 218);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}
input[type="submit"]:hover{
    background-color: rgb(69, 32, 32);
}
p{
    text-align: center;
    font-size: 12px;
    color: rgb(193, 170, 155);
}
a{
    font-size: 10px;
    color: rgb(31, 65, 201);
}