body {
  background-color:#02023a;
  color:#f8078c;
  margin: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181824;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo img {
  height: 40px;
  border-radius: 50%;
}
.link {
  display: flex;
  align-items: center;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.nav-list li {
  position: relative;
}
.nav-link {
  color:#f8078c;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
}
.lang-toggle {
  background-color: #b83260;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
}
.menu-toggle{
    background-color: #b83260;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 10px;
}
.search input {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  font-family: "Poppins", sans-serif;
}
footer {
  background-color: #181824;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  bottom: 0;
}
.footer-content .socials a {
  color: #e75480;
  margin: 0 10px;
  font-size: 18px;
}
main {
  flex: 1;
  padding: 20px;
  margin-top: 500px; 
}