*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-strip{
    background-image: url(https://eg.jumia.is/cms/Tech-Week-2025/s1.gif);
    height: 60px;
    display: block;
}
.Navbar{
    display :flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(41, 81, 97);
    border-bottom: 1px solid #23a2b3;
    position: sticky;
    top: 0;
    z-index: 100;
}
.Search input{
    padding: 8px;
    width: 300px;
}
.Account,
.Help,
.Cart{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 10px 10px;
    color: black;
} 
.logo h2{
    color: #f68b1e;
    letter-spacing: 3px;
}
.Search button{
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    font-weight: hold;
    background-color: rgb(208, 112, 43);
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.Search button:hover {
    background-color: #b75e22;
    transform: scale(1.05);
}

.Search button:active {
    transform: scale(0.95);
}
a,
i{
    color:#e0e0e0;
}
@media (max-width: 768px) {
    .Navbar {
        flex-direction: column;
    } 
    .Search input {
        width: 100%;
    }
}
.content p{
    font-size: 20px;
}

