body{
    background: #D8E3E7;
}
nav {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    background-color: #496A74;
    padding: 20px 50px;
    border-radius: 30px;
    height: 40px;
    gap: 40px;
    
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.links ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-weight: bold;
}
a{
    color: white;
}
.links ul li a:hover{
    color: darkcyan;
    
}

.home{
    
    border-radius: 30px;
    background: #89A6A8;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    margin: 10px;
    
}
.home h1{
    color: #496A74;
    font-weight: bold;
}
.home p2{
    color: white;
    font-size: 17px;

}
.home img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10 20px;
    gap: 90px;
}

