body {
    background-color: rgb(223, 252, 242);
    font-size: 2rem;
}

img {
    width: 100%;
}

div {
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    width: 48vw;
    background-color: rgb(33, 33, 33);
}

p {
    color: white;
}

@media only screen and (max-width: 768px) {
    div {
        width: 97vw;
    }
    body {
        background-color: rgb(116, 241, 13);
    }
}