nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #496A74;
    padding: 20px 50px;
    border-radius: 30px;
}
.name{
    font-weight: bolder;
    font-size: 25px;
    color: white;
    padding: 20px;
}
.links ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-weight: bold;
}
a{
    color: white;
}
.links ul li a:hover{
    color: darkcyan;
    
}
.about{
    border-radius: 30px;
    background: #89A6A8;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    margin: 60px;
}
.about h1{
    color: #496A74;
    font-weight: bold;
}
.about p{
    color: white;
    padding: 20px;
    padding-left: 32px;
    font-size: 17px;

}
.about button{
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    margin-right: 10px;
    background: #BEDADC;
}
.home{
    
    border-radius: 30px;
    background: #89A6A8;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    margin: 10px;
}
.home h1{
    color: #496A74;
    font-weight: bold;
}
.home p2{
    color: white;
    font-size: 17px;

}
.proj h1{
    color: #496A74;
    font-weight: bold;
    margin: 60px;
}

.pro{
    display: flex;
}
.pro1{
    background: #89A6A8;
    height: 120px;
    width: 120px;
    padding: 60px;
    border-radius: 60px;
    text-align: top;
    margin: 90px;
    display: inline;
    
}
.pro2{
    background: #89A6A8;
    height: 120px;
    width: 120px;
    padding: 60px;
    border-radius: 60px;
    text-align: top;
    margin: 90px;
    display: inline;

}
.pro3{
    background: #89A6A8;
    height: 120px;
    width: 120px;
    padding: 60px;
    border-radius: 60px;
    text-align: top;
    margin: 90px;
    display: inline;

}
.pro h3{
    color: #496A74;
    font-weight: bold;
    

}