.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gray;
    padding: 10px 20px;
    color: white;
}
.navbar .brand{
    font-size: 20px;
}
.navbar .nav-links{
    list-style: none;
    display: flex;
    gap: 10px;
}

.navbar .nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
