@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --back: #E5E7EB;
    --dark: #1a2c46;
    --light: #6487b9;
    --verylight: #9abae7;
    --darkback: #252526;
    --text: #111;
    --text-dark: #f3f3f3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--back);
    color: var(--text);
    transition: all 0.3s ease-in-out;
}
body.dark-mode {
    background-color: var(--darkback);
    color: var(--text-dark);
}
.logo{
    color: var(--text);
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
.logo::before{
    content: attr(text);
    transform-origin:bottom;
    position:absolute;
    line-height: 0.87em;
    transform: skewX(20deg) rotateX(180deg);
    mask-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3));
    background-clip: text;
    color: transparent;
    opacity:0.5;
    color: var(--dark);
    transition: all 0.3s ease-in-out;
}
body.dark-mode .logo {
    color: var(--text-dark);
    text-shadow: 5px 5px 10px rgba(255,255,255,0.3);
}
body.dark-mode .logo::before {
    color: var(--light);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back);
    padding: 1rem;
    color: var(--text);
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--dark);
    transition: all 0.3s ease-in-out;
}
body.dark-mode .navbar {
    background-color: var(--darkback);
    color: var(--text-dark);
    border-bottom: 1px solid var(--verylight);
}

.nav{
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-right: 0px;
}
.nav li{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.nav li:hover{
    transform: scale(1.1);
}
.nav li a{
    text-decoration: none;
    color: var(--text);
    transition: all 0.3s ease-in-out;
}
body.dark-mode .nav li a{
    color: var(--text-dark);
}
.nav li a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--light);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.nav li a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}
.toggleframe{
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: var(--light);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}
body.dark-mode .toggleframe{
    background-color: var(--dark);
}
.toggle{
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: var(--dark);
    position: absolute;
    left: 1px;
    transition: all 0.3s ease-in-out;
    border: 0.5px solid #213858;
}
body.dark-mode .toggle{
    background-color: var(--light);
}
.tasks{
    height: auto;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
.container{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--back);
    transition: all 0.3s ease-in-out;
    padding: 1rem 0;
}
body.dark-mode .container{
    background-color: var(--darkback);
}
.box{
   border: 2px solid var(--verylight);
    min-height: 260px;
    min-width: 220px;
    width: 28%;
    max-width: 350px;
    border-radius: 20px;
    background-color: var(--light);
    margin: 1rem 0.5rem;
    transition: all 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
body.dark-mode .box{
    border: 2px solid var(--verylight);
    background-color: var(--dark);
}
.box h2{
    color: var(--back);
    margin: 20px;
    transition: all 0.3s ease-in-out;

}
body.dark-mode .box h2{
    color: var(--verylight);
}
.box ul{
    grid-column: span 2;
    list-style: none;
    color: var(--back);
    margin: 20px;
    transition: all 0.3s ease-in-out;
}
body.dark-mode .box ul{
    color: var(--verylight);
}
.box ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 15px;
    transition: all 0.3s ease-in-out;
}
.box ul li input{
    transform: scale(1.5);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.check{
    border-radius: 50%;
    transform: scale(1.5);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.circle{ 
    position: relative;
    border: 2px solid var(--verylight);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: conic-gradient(#4caf50 0% 0%, #e0e0e0 0% 100%);
    margin: 10px;
    margin-left:0px ;
    transform: translateX(150%);
    transition: all 0.3s ease-in-out;
}
.percent{
    color: var(--text);
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
body.dark-mode .percent{
    color: var(--dark);
}
body.dark-mode .circle{
    background-color: var(--dark);
}
.add{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: var(--verylight);
    border: #1a2c46 solid 1px;
    margin: 10px;
    margin-left: 120px;
    transition: all 0.3s ease-in-out;
    font-size: 3rem;
    cursor: pointer;
}
.add:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
body.dark-mode .add{
    background-color: var(--dark);
    color: var(--verylight);
    border: var(--verylight) solid 1px;
}
body.dark-mode .add:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 80px;
    transition: all 0.3s ease-in-out;
}
.input p{
    font-size: 1.5rem;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
body.dark-mode .input p{
    color: var(--verylight);
}
.frame{
  position: relative;
  width: 80px;
  height: 60px;
  cursor: pointer;
  margin-left: 50px;

}
.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color:var(--light);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
  cursor: pointer;
}

.arrow::after, .arrow::before {
  position: absolute;
  content: '';
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: var(--light);
}

.arrow::after {
  transform: rotate(45deg);
  top:-12px;
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
.checkbox-wrapper-11 {
  --disabled: #b8b8b8;  
  --border-radius: 10px;
  border-radius: var(--border-radius);
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
}
.checkbox-wrapper-11 label {
  color: var(--back);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}
.checkbox-wrapper-11 label::before,
.checkbox-wrapper-11 label::after {
  content: "";
  position: absolute;
}
.checkbox-wrapper-11 label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--verylight);
  border-radius: 2px;
}
.checkbox-wrapper-11 input[type=checkbox] {
  appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  display: grid;
  align-items: center;
  }
.checkbox-wrapper-11 input[type=checkbox]::before, .checkbox-wrapper-11 input[type=checkbox]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--verylight);
  border-radius: 2px;
  }
.checkbox-wrapper-11 input[type=checkbox]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
  }
.checkbox-wrapper-11 input[type=checkbox]::after {
  width: 0px;
  left: 35%;
  transform-origin: left bottom;
  }
.checkbox-wrapper-11 input[type=checkbox]:checked::before {
    animation: check-01-11 0.4s ease forwards;
  }
.checkbox-wrapper-11 input[type=checkbox]:checked::after {
    animation: check-02-11 0.4s ease forwards;
  }
.checkbox-wrapper-11 input[type=checkbox]:checked + label {
    color: var(--disabled);
    animation: move-11 0.3s ease 0.1s forwards;
  }
.checkbox-wrapper-11 input[type=checkbox]:checked + label::before {
    background: var(--disabled);
    animation: slice-11 0.4s ease forwards;
}

  @keyframes move-11 {
    50% {
      padding-left: 8px;
      padding-right: 0px;
    }
    100% {
      padding-right: 4px;
    }
  }

  @keyframes slice-11 {
    60% {
      width: 100%;
      left: 4px;
    }
    100% {
      width: 100%;
      left: -2px;
      padding-left: 0;
    }
  }
  @keyframes check-01-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(45deg);
    }
    100% {
      width: 5px;
      top: 8px;
      transform: rotate(45deg);
    }
  }

  @keyframes check-02-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(-45deg);
    }
    100% {
      width: 10px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }

@media screen and (max-width: 930px) {
  .tasks {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 1.5rem;
  }
  .box {
    width: 80%;
    min-width: 220px;
    max-width: 400px;
    margin: 1rem 0;
  }
  .container {
    height: auto;
    min-height: 100vh;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.1rem;
    padding: 0.5rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .box {
    width: 98%;
    min-width: 0;
    max-width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  .circle {
    width: 40px;
    height: 40px;
    margin: 2px;
    margin-top: 0px;
  }
  .percent {
    font-size: 0.9rem;
  }
  .add {
    width: 33px;
    height: 33px;
    font-size: 1.5rem;
    margin-left: 0;
  }
  .input {
    align-items: center;
    margin-top: 30px;
    gap: 0.5rem;
  }
  .input p {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
  }
.arrow {
  top: 15px;
  width: 25%;
  height: 3.5px;

}

.arrow::after, .arrow::before {
  width: 60%;
  height: 4px;
  right: -5px;
}

.arrow::after {
  top:-3.6px;
}

.arrow::before {
  top: 3.6px;
}
  .frame {
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    margin-left: 0;
  }
}


