* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 320px;
    position: relative;
}
.container h2 {
    text-align: center;
    margin-bottom: 1.2rem;
}
.sign-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.signup{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
}
.login-link{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}
.login-link a{
    color: #007bff;
    text-decoration: none;
}
.container-2{
    text-align: center;
    margin: 15px 0;
    color: #888;
}
.google-btn{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    cursor: pointer;
}